# Dependencies
node_modules/
package-lock.json

# Next.js
.next/
out/

# IDE & Editor
.vscode/
.idea/
.DS_Store

# Temporary subfolders
./School-erp/
amalahss/
./school-erp-final/

# Logs
*.log

# Netlify
netlify.toml
.netlify/

# Legacy backups
*.legacy

