# Dependencies
node_modules/
package-lock.json

# Next.js
.next/
out/

# IDE & Editor
.vscode/
.idea/
.DS_Store

# Temporary subfolders
./School-erp/
amalahss/
./school-erp-final/

# Environment variables
.env
.env.local
.env.*.local
js/env.js
internal/js/env.js

# Logs
*.log

# Netlify
netlify.toml
.netlify/

# Legacy backups
*.legacy
